@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-sort: #362f33;
  --color-gron-1: #bbff9d;
  --color-gron-2: #d6ffc3;
  --color-gron-3: #edffe5;
  --color-orange-accent: #ff5900;
  --color-hvid: #fffcf9;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .content-wrapper {
    @apply px-[60px] md:px-[40px] sm:px-[24px] max-w-[1440px] mx-auto w-full;
  }
  @layer components {
    .h1 {
      @apply text-[38px] md:text-[52px] leading-none font-medium font-[Montserrat];
    }

    .h2 {
      @apply text-[26px] md:text-[38px] leading-tight font-medium font-[Montserrat];
    }

    .h3 {
      @apply text-[23px] md:text-[30px] leading-snug font-medium font-[Montserrat];
    }

    .p {
      @apply text-[17px] md:text-[23px] leading-normal font-normal font-[Poppins];
    }

    .hero-h1 {
      @apply text-[46px] sm:text-[68px] lg:text-[86px] leading-[1.1] font-medium font-[Montserrat];
    }

    .hero-p {
      @apply text-[21px] sm:text-[30px] lg:text-[36px] font-normal mt-4 font-[Poppins];
    }
  }
}

@layer utilities {
}
