---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import Hero from "../components/Hero.astro";
import Faq from "../components/Faq.astro";
import Banner from "../components/Banner.astro";
import Trin from "../components/Trin.astro";
import RejserCard from "../components/RejserCard.astro";
---
<MainLayout title="Titel">

	<Hero></Hero>
	<section class="content-wrapper my-16 md:my-24 lg:my-32">
		<h1 class="h1 pb-4">DIT LIVS EVENTYR</h1>
	  
		<p class="p max-w-[55ch] text-[var(--color-sort)]">
		  HÖJSKOLENDK er for dig, der vil på eventyr med højskolefællesskabet i rygsækken.
		  Vi rejser ud i verden for at opleve, lære og møde nye mennesker og kulturer.
		  <br><br>
		  Oplev fællesskab, mening og masser af rejseglæde på vores højskoleophold i udlandet.
		  Tryghed er altid med på turen – vi er medlem af Rejsegarantifonden.
		  <br><br>
		  Klar til dit næste eventyr?
		</p>
	  </section>
	  <Trin></Trin>
	  <RejserCard></RejserCard>
	<Banner></Banner>
	<Faq></Faq>

</MainLayout>