---
---

<footer class="h-auto bg-[var(--color-sort)] flex flex-col md:flex-row items-center md:items-start justify-between px-4 md:px-15 py-8 md:py-8 gap-6 md:gap-0">
  <div class="text-center md:text-left space-y-2">
    <h2 class="text-[var(--color-orange-accent)] h2">Kontakt</h2>
    <p class="p text-[var(--color-hvid)]">Telefon: 7027 9007</p>
    <p class="p text-[var(--color-hvid)]">Mandag til fredag - Kl. 10.00-16.00</p>
    <p class="p text-[var(--color-hvid)]">Mail: <a href="mailto:info@hojskolendk.dk" class="underline hover:text-[var(--color-orange-accent)] transition-colors">info@hojskolendk.dk</a></p>
    <br>
    <p class="p text-[var(--color-hvid)]">Rosenørns Allé 31</p>
    <p class="p text-[var(--color-hvid)]">1970 Frederiksberg</p>
    <p class="p text-[var(--color-hvid)]">Danmark</p>
    <p class="p text-[var(--color-hvid)]"> CVR 32491162</p>
  </div>
  
  <div class="flex flex-col items-center gap-4 order-first md:order-none">
    <a href="/" class="flex items-center">
      <img src="src/assets/images/logo.svg" alt="HÖJSKOLENDK logo" class="h-10 md:h-16" />
    </a>
    
    <div class="flex gap-4">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="src/assets/images/Instagram.svg" alt="Instagram" class="h-6 w-6" />
      </a>
      <a href="https://www.facebook.com/hojskolendk" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="src/assets/images/Facebook.svg" alt="Facebook" class="h-6 w-6" />
      </a>
      <a href="https://x.com/hojskolendk" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="src/assets/images/X.svg" alt="X (Twitter)" class="h-6 w-6" />
      </a>
      <a href="https://www.youtube.com/@hojskolendk" target="_blank" rel="noopener noreferrer" class="hover:opacity-80 transition-opacity">
        <img src="src/assets/images/YouTube.svg" alt="YouTube" class="h-6 w-6" />
      </a>
    </div>
  </div>

  <div class="text-center md:text-right space-y-2">
    <h2 class="text-[var(--color-orange-accent)] h2">Samarbejdspartnere</h2>
    <p class="p text-[var(--color-hvid)]">Rejsegarantifonden</p>
    <p class="p text-[var(--color-hvid)]">Jysk Rejsebureau</p>
    <p class="p text-[var(--color-hvid)]">Gouda Rejseforsikring</p>
    <p class="p text-[var(--color-hvid)]">Verdens Skove</p>
    <p class="p text-[var(--color-hvid)]">CO2 Neutralt Website</p>
  </div>

</footer>