<section>
  <div class="flex flex-row items-center justify-center gap-6 w-full">
    <div class="box w-40 h-40 bg-[#bbff9d] rounded-md border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-3">
      <span class="text-sm font-montserrat font-semibold text-[#111827]">København</span>
      <span class="text-sm font-montserrat text-[#111827]">15. maj 2025</span>
    </div>

    <div class="box w-40 h-40 bg-[#d6ffc3] rounded-md border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-3">
      <span class="text-sm font-montserrat font-semibold text-[#111827]">Aarhus</span>
      <span class="text-sm font-montserrat text-[#111827]">01. sep 2025</span>
    </div>

    <div class="box w-40 h-40 bg-[#edffe5] rounded-md border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-3">
      <span class="text-sm font-montserrat font-semibold text-[#111827]">Online</span>
      <span class="text-sm font-montserrat text-[#111827]">12. nov 2025</span>
    </div>
  </div>

</section>