---
import Button from "./Button.astro"
---

<section id="infomøder" class="flex flex-col items-center gap-4 md:gap-8 px-4 md:px-0">
  <div class="flex flex-col md:flex-row items-center justify-center gap-4 md:gap-8 w-full max-w-5xl">
    <div class="flex flex-col items-center gap-3 md:gap-4 w-[250px] md:w-64">
      <div class="box w-full h-48 bg-[#bbff9d] rounded-xl border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-8 md:p-4 gap-2">
        <h3 class="h3 text-[#111827]">AARHUS</h3>
        <div class="flex items-center gap-2">
          <img src="/cal.svg" alt="calendar" class="w-4 h-4" />
          <p class="p text-[#111827]">06. nov 2025</p>
        </div>
        <div class="flex items-center gap-2">
          <img src="/clock.svg" alt="clock" class="w-4 h-4" />
          <p class="p text-[#111827]">17:00-19:00</p>
        </div>
      </div>
      <Button href="/infomoder-aarhus" text="Tilmeld infomøde" color="hvid" />
    </div>

    <div class="flex flex-col items-center gap-3 md:gap-4 w-[250px] md:w-64">
      <div class="box w-full h-48 bg-[#d6ffc3] rounded-xl border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-8 md:p-4 gap-2">
        <h3 class="h3 text-[#111827]">KØBENHAVN</h3>
        <div class="flex items-center gap-2">
          <img src="/cal.svg" alt="calendar" class="w-4 h-4" />
          <p class="p text-[#111827]">15. nov 2025</p>
        </div>
        <div class="flex items-center gap-2">
          <img src="/clock.svg" alt="clock" class="w-4 h-4" />
          <p class="p text-[#111827]">17:00-19:00</p>
        </div>
      </div>
      <Button href="/infomoder-kobenhavn" text="Tilmeld infomøde" color="hvid" />
    </div>

    <div class="flex flex-col items-center gap-3 md:gap-4 w-[250px] md:w-64">
      <div class="box w-full h-48 bg-[#edffe5] rounded-xl border-2 border-[#362f33] shadow-lg flex flex-col items-center justify-between p-8 md:p-4 gap-2">
        <h3 class="h3 text-[#111827]">ONLINE</h3>
        <div class="flex items-center gap-2">
          <img src="/cal.svg" alt="calendar" class="w-4 h-4" />
          <p class="p text-[#111827]">12. nov 2025</p>
        </div>
        <div class="flex items-center gap-2">
          <img src="/cal.svg" alt="calendar" class="w-4 h-4" />
          <p class="p text-[#111827]">10. dec 2025</p>
        </div>
        <div class="flex items-center gap-2">
          <img src="/clock.svg" alt="clock" class="w-4 h-4" />
          <p class="p text-[#111827]">17:00-19:00</p>
        </div>
      </div>
      <Button href="/infomoder-online" text="Tilmeld infomøde" color="hvid" />
    </div>
  </div>
</section>